@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-out {
  animation: fadeOut 0.3s ease-in-out; /* Reducir la duración de la animación a 0.3 segundos */
}

.button-container {
  text-align: right;
}

button.button-close {
  background-color: red;
}

/* Cambiar el color del texto a blanco cuando el esquema de color es oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --color-text: white; /* Cambia la variable de color de texto a blanco */
  }
}

.img-fluid {
  padding-top: 5px;
}

.order-md-2 {
  margin-top: 4px;
}

:root {
  --background-color: #f6f6f6;
  --foreground-color: #003cff;
  --primary-text-color: #0a0a0a;
  --secondary-text-color: #ffffff;
  --toggle-bg: #f0eb9d;
  --toggle-fg: #ffd000;
}

[data-theme="dark"] {
  --background-color: #0a0a0a;
  --foreground-color: #567aff;
  --primary-text-color: #f6f6f6;
  --secondary-text-color: #0a0a0a;
  --toggle-bg: #283452;
  --toggle-fg: #00a6ff;
}

.theme-button {
  margin-left: auto;
}

body {
  color: unset;
}

h2 {
  color: #0a0a0a;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(217, 255, 24);
  content: "☀️"; /* Cambiar el contenido a ☀️ para el sol */
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

input:checked + .slider:before {
  content: "🌙"; /* Cambiar el contenido a 🌙 para la luna */
  background-color: #0a0a0a;
}

